<nav class="navbar navbar-expand navbar-light px-4">
  <a class="navbar-brand brand-text" href="/menu">🍕 PizzApp</a>

  <div class="ms-auto d-flex gap-2">
    <a href="/menu" class="btn btn-outline-primary">Menu</a>
    <a href="/cart" class="btn btn-outline-primary">Cart</a>
    <a href="/orders" class="btn btn-outline-primary">Orders</a>

    <form action="/logout" method="POST">
      <button class="btn btn-danger">Logout</button>
    </form>
  </div>
</nav>
