<% title = 'Cart'; css = ['/css/base.css','/css/style.css']; %>
<%- include('partials/head') %>

<body>

<%- include('partials/navbar') %>

<div class="container mt-5">

  <!-- HEADER -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="brand-text">🛒 Your Cart</h2>

    <a href="/menu">
      <button class="btn btn-success">← Back to Menu</button>
    </a>
  </div>

  <!-- MAIN CART CARD -->
  

    <div class="cart-card-main w-100">

      <!-- ITEMS WILL LOAD HERE -->
      <div id="cart-list"></div>

      <hr>

      <!-- SUMMARY -->
      <div id="total"></div>

      <!-- ORDER BUTTON -->
      <form action="/place-order" method="POST">
        <button class="btn btn-primary w-100 mt-3">
          Place Order
        </button>
      </form>

    </div>

  

</div>

<script type="module">
  import { initCart } from "/js/cart.js";
  initCart();
</script>
<%- include('partials/footer') %>
</body>
</html>