<% title = 'Menu'; css = ['/css/base.css','/css/style.css']; %>
<%- include('partials/head') %>

<body>

<%- include('partials/navbar') %>

<div class="container mt-5">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="brand-text">🍕 Pizza Menu</h2>

        <a href="/cart">
          <button class="btn btn-primary">🛒 Cart</button>
        </a>
      </div>

      <div id="pizza-list" class="row g-4"></div>
    </div>

    <script type="module">
      import { initMenu } from "/js/menu.js";
      initMenu();
    </script>
<%- include('partials/footer') %>
  </body>
</html>
